<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload a File</title>
</head>
<body>
<form method="POST" action="/upload" enctype="multipart/form-data">
    <label for="filename">Select a File</label>
    <input type="file" id="filename" name="myfile">
    <input type="submit" value="Upload">
</form>
</body>
</html>